element {
}
.elementor-element .elementor-widget-container {
    -webkit-transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    transition: background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
    -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
        transition-property: background, border, border-radius, box-shadow, border-radius, box-shadow;
        transition-duration: 0.3s, 0.3s, 0.3s, 0.3s, 0.3s, 0.3s;
        transition-timing-function: ease, ease, ease, ease, ease, ease;
        transition-delay: 0s, 0s, 0s, 0s, 0s, 0s;
}
.elementor *, .elementor ::before, .elementor ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
        font-style: inherit;
        font-weight: inherit;
        font-family: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}
* {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
*, ::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor {
    hyphens: manual;
}
.elementor-kit-200802 {
    --e-global-color-primary: #01479B;
    --e-global-color-secondary: #60CFFD;
    --e-global-color-text: #000000;
    --e-global-color-accent: #61CE70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    font-family: "IBM Plex Serif", Sans-serif;
    font-size: 16px;
}
body {
    font-size: 16px;
    color: #777777;
    line-height: 1.4;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #4a4a4a;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
:root {
    --page-title-display: block;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-20: #005a87;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}